.dashboard-container{

padding:40px;

text-align:center;

}



.stats{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}



.stat-card{

width:220px;

padding:30px;

border-radius:20px;

background:white;

box-shadow:0 10px 25px rgba(0,0,0,0.1);

}



.chart-box{

margin-top:40px;

padding:30px;

background:white;

border-radius:20px;

}